html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  ::after {
      box-sizing: inherit;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    width: 100%;
  }

  body {
    font-family: Arial, Verdana, sans-serif;
  }

  h1 {
    text-align: center;
  }

  .container {
    max-width: 1200px;
    padding: 40px 15px;
    margin: 0 auto;
  }

  .geme {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding: 0px 15%;
  }

  .geme:nth-child(2n){
    flex-wrap: wrap;
  }

  .card {
    width: 20%;
    height: 85px;
    display: flex;
    align-items: center;
    margin-bottom:10px ;
    justify-content: center;
    background-color: rgb(41, 50, 104);
    color:transparent;
    font-size: 42px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
    transition: background-color .2s, color 0.2s, transform 0.2s;
  }

  /* .card:not(:last-child) {
    margin-right: 10px;
  } */
  

  .card.open {
    background-color: rgb(207, 226, 38);
    color: rgb(27, 26, 26);
    transform: rotate(360deg);
    /* transform: perspective(100px), rotate(180eg) !important; */
  }

  .card.success {
    background-color: rgb(147, 218, 35);
    color: beige;
    transform: scale(0.95);
    /* transform: perspective(100px), rotate(180eg); */
  }